.top-bar{
    height: 90px;
    background-color: $background-dark;

    

    .ui.grid{
        margin: 0;
        padding: 0;
        .colum {
            padding: 0;
        }
    }
    &__left{
        display: flex !important;
        align-items: center;

        img{
            height: 50px;
            transition: all 0.5s;

            &:hover{
                transform: translate(-15px);
            }
        }
    }

    &__right{
        display: flex !important;
        align-items: center;
        justify-content: flex-end;
        right: 30px;

        .ui.icon.input>input{
            padding-right: 10px !important;
            
        }

       
        .iu.input{
            align-items: center;
            margin-right: 25px !important;

            input{
                background-color: transparent !important;
                border: 0;
                border-bottom: 2px solid $primary  !important;
                border-radius: 0;
            }
        }

    }
}

.ui.icon.input>input{
    
        background-color: transparent !important;
        border: 0;
        border-bottom: 2px solid $primary  !important;
        border-radius: 0;
        color: $primary !important;
        padding: 5px 0 !important;
        width: 200px;
        font-size: 20px;
        transition: width 0.7s;
        padding-right: 0 !important;

        &:focus{
            width: 350px;
        }
        
}
i{
    color: $primary;
    opacity: 1 !important;
    font-size: 25px;
    right: -25px !important;

}

